$grey:hsla(0,0%,100%,.72);
$grey2:#898989;
$grey3:#d5d5d5;
$black:#1A1A1A;
$green:#1ed760;

/*themecolor*/
$orange:rgb(225, 51, 0);
$deepblue:rgb(30, 50, 100);
$pink:rgb(232, 17, 91);
$cobalt:rgb(45, 70, 185);
$deepgreen:rgb(20, 138, 8);
$brown:rgb(188, 89, 0);
$pink2:rgb(220, 20, 140);
$lightpurple:rgb(141, 103, 171);
$purple:rgb(115, 88, 255);
$lightgreen:rgb(205, 245, 100);
$deepgreen2:rgb(5, 105, 82);
$red:rgb(233, 20, 41);
$yellow:rgb(245, 155, 35);
$yellow2:rgb(255, 236, 70);